<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Notas</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Disciplinas</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <ul class="collapsible">
      <%for(let i=0; i < dados.length; i++) {%>
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>
            <%=dados[i].disciplina%>  <b style="margin-left: 5px;">   <%=dados[i].resultado()%>  </b> 
          </div>
          <!-- Primeira coluna -->
          <div class="collapsible-body row">

            <div class="col s6">
              <ul>
                <li>
                  <b>Nota 1: </b>
                  <%=dados[i].n1%>
                </li>
                <li>
                  <b>Nota 2: </b>
                  <%=dados[i].n2%>
                </li>
                
                
              </ul>
            </div>
            <!-- Segunda coluna -->
            <div class="col s6">
              <ul>
                <li>
                  <b>Nota 3: </b>
                  <%=dados[i].n3%>
                </li>
                <li>
                  <b>Nota 4: </b>
                  <%=dados[i].n4%>
                </li>
              </ul>
            </div>
          
          </div>

        </li>
        <% }%>

    </ul>
  </div>

  <!--  Scripts-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
    $(document).ready(function () {
      $('.collapsible').collapsible();
      console.log('Este é meu nome do lado do Cliente')
    });
  </script>

</body>

</html>